version: '3.8'

services:
  db:
    image: postgres:15
    container_name: kbo_db
    environment:
      POSTGRES_USER: kbo
      POSTGRES_PASSWORD: kbopass
      POSTGRES_DB: kbo_db
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@local
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "8081:80"

volumes:
  db_data:
